@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: hsl(0, 0%, 0%);
    --bgc-02: hsl(0, 0%, 0%);
    --txt-01: hsl(0, 100%, 50%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: rgb(240, 248, 255);
}

header nav {
    justify-self: end;
}

header img {
    width: 40%;
}

img {
    width: 50%;
    justify-content: center;
}

footer {
    padding: 20px;
    background-color: black;
    font-size: 14px;
    color: aliceblue;
}

footer li {
    list-style: none;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li:first-child a,
footer ul:first-child li a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

footer i {
    margin-left: 1.5ch;
    font-size: 1.1rem;
}

footer i:hover {
    transform: scale(1.1);
}

.grid-container {
    background-color: rgb(190, 4, 4);
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: aliceblue;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 5%
}

img {
    align-items: center;
    width: 70%;
    padding-left: 1%;
}

.videoframe {
    overflow: hidden;
    max-height: 50vh;
  }
  
  video {
    width: 100%;
  }

  h2{
    padding: 5%;
    align-items: center;
  }
  body i {
    margin-left: 1.5ch;
    font-size: 1.1rem;
    color: aliceblue;
    align-items: center;
}
header label[for="burger"] i {
    margin: 0;
    font-size: 1.25rem;
}
header input#burger {
    display: none;
  }
  
  header label[for="burger"] {
    display: none;
  }
  
  header label[for="burger"] i {
    font-size: 2rem;
    margin-right: 10%;
  }
  

  @media (width <=750px) {
    header label[for="burger"] {
        display: block;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        width: 100%;
        padding: 1rem 1ch;
        background-color: var(--bgc-02);
        text-align: right;
        cursor: pointer;
      }
    
      header nav ul {
        position: fixed;
        z-index: 3;
        top: 3rem;
        right: 0;
        display: none;
        padding-right: 1ch;
        width: 100%;
        background-color: var(--bgc-02);
        text-align: right;
        user-select: none;
      }
    
      header input#burger:checked + label[for="burger"] + nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
  }